/*
    GENERAL
*/
body{
    background-color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.red{
    color: red;
    font-size: 100px;
    box-shadow: 3px 3px red, -1em 0 .4em red;
}
/*
    /GENERAL
*/


/*
    HEADER
*/
header{
    background-color: orange;
}
header h1{
    font-style: italic;
}
.my-col{
    height: 50px;
}
.my-btn,
input{
    background-color: teal;
    color: white;
    border: 2px solid black;
}
input::placeholder{
    color: white;
}
.my-btn{
    border: 2px solid black;
    border-radius: 50px;
}
.fa-dumpster-fire{
    line-height: 50px;
    font-size: larger;
}
.fa-dumpster-fire:hover{
    color: teal;
    cursor: pointer;
}
/*
    /HEADER
*/


/*
    MAIN
*/
.todo-txt,
i.fa-xmark{
    line-height: 50px;
    background-color: orange;
    cursor: pointer;
}
.line-through{
    text-decoration: line-through;
}
/*
    /MAIN
*/